body {
	font-family: "JetBrains Mono", monospace;
	margin-left: 35%;
}
h1{
	font-size: 24px;
	
	font-family: "JetBrains Mono", monospace;

	font-weight: 700;
}

h2 {

	font-size: 22px;
}

.my-text {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
}


